body {
    margin: 0;
    padding: 0;
}

::-webkit-scrollbar {
    width: 8px;
  }
  
  ::-webkit-scrollbar-track {
    background-color: #00376d;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #001931;
  }

.App {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
} 

.content {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

footer {
    background-color: #002B5B;
    height: 80px;
    text-align: center;
    margin-top: auto;
    padding: 20px;
    color: rgba(200, 207, 255, 0.4);
    z-index: 2;
}