body {
    margin: 0;
    padding: 0;
}

.App {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
} 

.content {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

footer {
    background-color: #c9ece8;
    height: 80px;
    text-align: center;
    margin-top: auto;
    padding: 20px;
    color: rgba(0, 3, 23, 0.4);
}