body {
    margin: 0;
    padding: 0;
}

.App {
    
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

footer {
    background-color: #c9ece8;
    text-align: center;
    margin-top: auto;
    padding: 8px;
}