*,
*::after,
*::before {
    margin:0;
    box-sizing: border-box;
}

html{
    font-size:62.5%;

}

body{
    font-size: 1.6rem;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
    color: #fff;
}

.nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 8vh;
    background: #002b5b;
}

.nav__brand{
    text-transform: uppercase;
    font-weight: bold;
}

.nav__menu{
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 3rem;
}

.nav__toggler div{
    width: 3rem;
    height: 0.2rem;
    margin: 0.4rem;
    background: #fff;
    transition: 0.4s ease-in;
}
.nav__toggler{
    cursor: pointer;
    display: none;
}

@media screen and (max-width: 768px){
    .nav__toggler{
        display: block;
    }
    .nav__menu{
        position: fixed;
        top:7vh;
        right: 0;
        width: 50%;
        height: 93vh;
        background: #002b5b;
        flex-direction: column;
        transform: translateX(100%);
        transition: 0.5s ease-in;
    }
}

/*nav action*/
.nav__active{
    transform: translateX(0);
}

/*toggler animation*/
.toggle .line1 {
    transform: rotate(-45deg) translate(-4px,5px);
}
.toggle .line2 {
    opacity: 0;
}
.toggle .line3 {
    transform: rotate(45deg) translate(-4px,-5px);
}